#addButton {
    margin-top: 20px;
}

#addedCities {
    border: 1px solid black;
}

body {
    margin: 0px;
}

.boxes {
    padding: 20px;
    border: 1px solid black;
    flex-grow: 1;
    flex-basis: 0;
}

#cityName,
#searchCity,
#countryName,
#searchCountry {
    border: none;
    border-bottom: 2px solid black;
}

#cities {
    border: 1px solid black;
    flex-grow: 1;
}

container {
    display: flex;
    max-width: 1400px;
    margin: 20px 150px;
}

#div1 {
    background-color: aliceblue;

}

#div2 {
    background-color: aliceblue;
}

#div3 {
    background-color: aliceblue;
}

#errorMessage {
    color: red;
    font-weight: bold;
}

.inputDiv {
    padding: 10px 0px;
}